* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
}

.head {
  position: sticky;
  background-color: white;
  top: 0px;
  width: 100%;
  z-index: 3;
 }

.box {
  height: 50px;
  border: none;
  box-shadow: 0px 0px 10px -4px rgb(81, 80, 80);
  border-radius: 5px;
 }

.logo {
  display: inline-block;
  margin-top: 10px;
  margin-left: 50px;
} 


.link {
  color: black;
  margin-left: 130px;
  text-decoration-line: none;
  transition: color 0.2s linear orange;
}

.link:hover {
  color: blue;
  transform: scale(1.1);
}
 
.nomer {
  margin-left: 250px;
  color: white;
  background-color: rgb(1, 183, 255);
  padding: 7px;
  border: none;
  border-radius: 5px;
  text-decoration-line: none;
  transition: color .3s linear, background-color .3s linear;
}

.nomer:hover {
color: rgb(1, 183, 255) ;
border: 1px solid  rgb(1, 183, 255);
background-color: white;
}

.img {
  margin-top: 100px;
  margin-left: 300px;
  display: inline;
  width: max-content;
  height: 300px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  transition: transform 0.3s linear;
}

.img:hover {
  transform: scale(1.03)  
}

.qalin {
  position: relative;
  bottom: 180px;
  left: 70px;
}

.p-1 {
  position: relative;
  width: 300px;
  bottom: 180px;
  left: 500px;
}

.image {
  margin-left: 800px;
  display: inline;
  width: max-content;
  height: 278px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  transition: transform 0.3s linear;
}

.image:hover {
  transform: scale(1.03)  
}

.p-2 {
  position: relative;
  bottom: 150px;
  left: 350px;
  width: 400px;
}

.img-1 {
  margin-left: 300px;
  display: inline;
  width: max-content;
  height: 278px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  transition: transform 0.3s linear;
}

.img-1:hover {
  transform: scale(1.03)  
}

.p-3 {
  position: relative;
  width: 300px;
  bottom: 180px;
  left: 600px;
}

.sect {
  position: relative;
  top: 10px;
  padding: 65px;
  background-color: rgb(0, 183, 255);
}

.by-uc {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.par {
  color: white;
  display: flex;
  width: 650px;
  margin-left: 410px;
  justify-content: center;
  align-items: center;
}

.inp {
 padding: 10px;
 background-color: white;
 width:max-content;
 margin-left: 600px;
 border-radius: 5px;
}

.input {
  display: flex;
  justify-content:center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 4px;
  border: none;
}

.by {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  text-decoration-line: none;
  color: white;
  background-color: rgb(1, 183, 255);
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
  height: 20px;
  border: none;
}

.footr {
  padding: 50px;
  position: relative;
  top: 10px;
  justify-content: space-between;
  background-color: #000;
 
}

.copyr {
  color: white;
}


.paragraf {
  color: white;
  width: 320px;
}

.sayt {
  display: block;
  color: white;
}

.sayt:hover {
  color: blue;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px -4px rgb(81, 80, 80);
}

.lank {
  display: block;
  text-decoration-line: none;
  color:white;
  transition: color 0.3s linear;
}

.lank:hover {
  color: orange;
  transform: scale(1.1);
}

.internet {
  display: block;
  color: white;
}

.internet:hover {
  color: blue;
  transform: scale(1.1);
}

.fa-telegram {
  display: flex;
  color: white; 
}

.fa-telegram:hover {
  color: purple;
  rotate: -350deg;
}

.fa-facebook {
  display: flex;
  color: white;
}

.fa-facebook:hover {
  color: rgb(0, 183, 255);
  rotate: -350deg;
}

.fa-square-instagram {
  display: flex;
  color: white;
}

.fa-square-instagram:hover {
  color: rgb(255, 48, 83);
  rotate: -350deg;
}

.inst {
  display: flex;
  color: white;
}

.footer-wrapper {
  display: flex;
  column-gap: 450px;
}

.fa-brands {
  margin-bottom: 20px;
}

.wiew {
  position: relative;
  top: 30px;
}

.budy {
 background-color: #000;
}

.bck {
  display: block;
  padding: 50px;
  margin-top: 200px;
  margin-inline: auto;
  width: 400px;
  height: 300px;
  background-image: url(./fon.webp);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
}

.sign-inp {
  display: block;
  margin-inline: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px ;
}

.lnk-inp{
  margin-inline: auto;
  position: absolute;
  top: 455px;
  left: 740px;
  text-decoration-line: none;
  padding: 8px;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(90deg , #f64e6a,#4ec8f8);
}

.xz {
  margin-inline:auto ;
  margin-top: 130px;
}